.footer {
    background-color: #EAEFF2;
   
    &__social-link{
        width: 35px;
        height: 35px;
        background-color: #383B44;
        display: flex;
       align-items: center;
        justify-content: center;
        border-radius: 50%;

        &:hover{
            text-decoration: none;
        }
    }
    &__3 {
        margin-top: 40px;
        @include respondmax(sm) {
            margin-top: 20px;
        }
    }
}