
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #f5f5f5 !important;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    @include respondmax(lg) {
        padding-top: 40px;
     }

    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color: #ccc;
    }

    &__btn-group {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }

    &__link {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 18px;
        color: rgba(0, 0, 0, .5);
        display: block;
        transition: 0.3s;
        border-bottom: 2px solid #ccc;

        &:hover {
            color: rgba(0, 0, 0, .7);
        }
    }

    &__login {
        padding: 8px 8px 8px 32px;
        font-size: 18px !important;

        .fa-user {
    
            font-size: 13px !important;
        }

        &--span {
            font-size: 13px;
        }
    }

    &__order-now {
        margin-left: 32px;
        margin-top: 5px;
        padding: 5px 10px;
        font-size: 14px !important;
    }


}


.header {
    display: flex !important;
    align-items: center !important;

    &__nav {
        display: flex;
        align-items: center;
        list-style: none;
        margin-right: auto;
        color: rgba(0, 0, 0, .5);
        margin-bottom: 0;
        padding-left: 0;
        @include respondmax(lg) {
            display: none;
         }

        &__item {
            &:not(:last-child) {
                margin-right: 15px;
            }

            &--link {
                font-size: 18px;
                color: rgba(0, 0, 0, .5);

                &:hover{
                     color: rgba(0, 0, 0, .7);
                }
            }
        }
    }

    &__btn-group {
        display: flex;
        align-items: center;

        @include respondmax(lg) {
            display: none;
         }

        &__login {
            color: rgba(0, 0, 0, .5);
            font-size: 18px;
            display: flex;
            align-items: center;
            margin-right: 15px;


            @include respondmax(lg) {
                font-size: 1rem;
            }

            @include respondmax(md) {
                margin-right: 10px;
            }

            &:hover {
                color: rgba(0, 0, 0, .7);
            }

            .fa-user {
                padding-right: 5px;
                font-size: 14px;
            }

        }

        &__order-now {
            font-size: 13px;
            color: #ffffff;
            margin-right: 10px !important;

            @include respondmax(sm) {
                margin-right: 0 !important;
            }

        }
    }

    &__language {
        display: flex;
        align-items: center;
        margin-right: 15px;
        font-size: 18px !important;
        @include respondmax(lg) {
           margin-left: auto;
        
         }
        .fa-globe {
            padding-right: 5px;
font-size: 14px;
        }

        &__dropdown {
            color: rgba(0, 0, 0, .5);
            appearance: none;
            font-size: 18px;
            cursor: pointer;

            .dropdown-link {
                color: rgba(0, 0, 0, .5);
                font-size: 18px;

                &:after {
                    display: none;
                }
            }

            &--menu {
                min-width: 3rem !important;
                font-size: 16px;
                padding: 0;
                left: 0;

                &--item {
                    padding: 2px;
                    padding-left: 10px;
                    &:hover{
                        color: rgba(0, 0, 0, .7);
                    }
                }
            }


        }
    }


    &__hamburger-menu {
        font-size: 30px;
        cursor: pointer;
        display: none;
        @include respondmax(lg) {
           display: block;
        }
    }
}