// .navbar {
//     font-size: 16px;

//     &__language {
//         display: flex;
//         align-items: center;
//         margin-right: 10px;

//         .fa-globe {
//             padding-right: 5px;

//         }

//         &__dropdown {
//             color: rgba(0, 0, 0, .5);
//             appearance: none;
//             font-size: 16px;

//             &--menu {
//                 min-width: 4rem !important;
//                 font-size: 16px;
//                 padding: 0;
//             }

//             .dropdown-toggle {
//                 color: rgba(0, 0, 0, .5);

//                 &:after {
//                     display: none;
//                 }

//             }
//         }
//     }

//     &__login {
//         color: rgba(0, 0, 0, .5);
//         font-size: 18px;
//         display: flex;
//         align-items: center;


//         @include respondmax(lg) {
//             font-size: 1rem;
//         }

//         @include respondmax(md) {
//             margin-right: 10px;
//         }

//         &:hover {
//             color: rgba(0, 0, 0, .7);
//         }

//         .fa-user {
//             padding-right: 5px;
//         }

//     }

//     &__order-now {
//         font-size: 14px;
//         color: #ffffff;

//         @include respondmax(sm) {
//             margin-right: 0 !important;
//         }

//     }

//     &__toggler {
//         margin-right: 20px;
//         display: block;
//         color: black;
//         background-color: black;
//     }
// }


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #f5f5f5 !important;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color: #ccc;
    }

    &__link {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: rgba(0, 0, 0, .5);
        display: block;
        transition: 0.3s;
        border-bottom: 2px solid #ccc;

        &:hover {
            color: rgba(0, 0, 0, .7);
        }
    }

    &__login {
        padding: 8px 8px 8px 32px;
        font-size: 18px;
    }

    &__order-now {
        margin-left: 32px;
        margin-top: 5px;

    }


}






@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.header {
    display: flex !important;
    align-items: center !important;

    &__nav {
        display: flex;
        align-items: center;
        list-style: none;
        margin-right: auto;
        color: rgba(0, 0, 0, .5);
        margin-bottom: 0;
        padding-left: 0;

        &__item {
            &:not(:last-child) {
                margin-right: 15px;
            }

            &--link {
                font-size: 18px;
                color: rgba(0, 0, 0, .5);

                &:hover{
                     color: rgba(0, 0, 0, .5);
                }
            }
        }
    }

    &__btn-group {
        display: flex;
        align-items: center;

        &__login {
            color: rgba(0, 0, 0, .5);
            font-size: 18px;
            display: flex;
            align-items: center;
            margin-right: 10px;


            @include respondmax(lg) {
                font-size: 1rem;
            }

            @include respondmax(md) {
                margin-right: 10px;
            }

            &:hover {
                color: rgba(0, 0, 0, .7);
            }

            .fa-user {
                padding-right: 5px;
            }

        }

        &__order-now {
            font-size: 14px;
            color: #ffffff;
            margin-right: 10px !important;

            @include respondmax(sm) {
                margin-right: 0 !important;
            }

        }
    }

    &__language {
        display: flex;
        align-items: center;
        margin-right: 10px;
        font-size: 18px !important;

        .fa-globe {
            padding-right: 5px;

        }

        &__dropdown {
            color: rgba(0, 0, 0, .5);
            appearance: none;
            font-size: 18px;

            .dropdown-link {
                color: rgba(0, 0, 0, .5);
                font-size: 18px;

                &:after {
                    display: none;
                }
            }

            &--menu {
                min-width: 4rem !important;
                font-size: 16px;
                padding: 0;
            }


        }
    }


    &__hamburger-menu {
        font-size: 30px;
        cursor: pointer;
        margin-right: 10px;
    }
}