.car {
    // display: flex;
    // justify-content: space-between;
 padding-bottom: 20px;
    width: 100% !important;
    border-bottom: 1px solid #f5f5f5;
    padding-left: 0;
    list-style: none;

    @include respondmax(md) {
        width: 100% !important;
    }



    .active {
        background-color: $color-primary;
        color: #ffffff !important;
        border: none;
    }

    &__link {
        padding-right: 0;
        padding-left: 0;
        width: 80px;
        border: none;
        display: block;
        outline: none;
        border-radius: 5px;
        padding-bottom: 10px;
        text-decoration: none;

        

        @include respondmax(xl) {
            width: 100% !important;
        }

        &:not(:last-of-type) {
            margin-right: 10px;
        }

        &:focus {
            outline: 0;
        }

        &:hover {
            background-color: $color-primary;
            color: #ffffff !important;
            transition: all .5s;
            outline: none;
            text-decoration: none;


        }

        &:hover .car__div--span {
            color: #ffffff;
          transition: all .3s;
        }
    }

    &__div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 80px;

        &--img {
            margin-left: auto;
            margin-right: auto;
            width: 40px !important;
        }

        &--span {
            font-size: 12px;
            text-align: center;
       
            font-family: 'Nunito', sans-serif;
            color: #1f1f1f;
            font-weight: bold;
        }
    }
}

.info {
    display: flex;
    justify-content: space-around;
    color: $color-primary;
  
    font-weight: bold;
width: 100% !important;
    height: 20px;
   

    @include respondmax(xl) {
        width: 100% !important;
    }

    span {
        font-size: 16px !important;
    }


    &__p {
        padding-top: 10px;
        font-size: 15px;
        width: 100% !important;
        padding-bottom: 20px;
        border-bottom: 1px solid #f5f5f5;

        @include respondmax(xl) {
            width: 100% !important;
        }
    }
}