.car {
    // display: flex;
    // justify-content: space-between;
    padding-bottom: 20px;
    width: 100% !important;
    border-bottom: 1px solid #f5f5f5;
    padding-left: 0;
    list-style: none;

    @include respondmax(md) {
        width: 100% !important;
    }

    &__form-group {
        margin-bottom: 0;
    }

&__label{
    text-align: center;
    cursor: pointer;
    background-color: $color-secondary;
    color: black;

    border-radius: 3px;
    width: 100%;
    margin-bottom: 0;
    &--img {
        margin-left: auto;
        margin-right: auto;
        width: 50px !important;
       
    }
    &--span {
        font-size: 12px;
        text-align: center;

        font-family: 'Nunito', sans-serif;
        color: #1f1f1f;
        font-weight: bold;
    }

    &:hover {
        background-color: $color-primary;
    }
    &:hover .car__label--span {
        color: #ffffff ;
    }
}

&__input[type="radio"] {
    visibility: hidden;
    height: 0;
    width: 0;
    display: none;

    &:checked+label {
        background-color: $color-primary;
        color: #ffffff ;
    }
    &:checked+label .car__label--span {
        color: #ffffff !important;
    }
}
    

}

.info {
    display: flex;
  flex-direction: column;
  margin-top: 1rem;

    &__span {
        display: flex;
        justify-content: space-around;
        color: $color-primary;
        font-weight: bold;
        width: 100% !important;
        height: 20px;

        @include respondmax(xl) {
            width: 100% !important;
        }

        span {
            font-size: 16px !important;
        }
    }


    &__p {
        padding-top: 10px;
        font-size: 15px;
        width: 100% !important;
        padding-bottom: 20px;
        border-bottom: 1px solid #f5f5f5;

        @include respondmax(xl) {
            width: 100% !important;
        }
    }
}