.car {
    display: flex !important;
    justify-content: space-between !important;
    flex-wrap: nowrap !important;
    width: 360px !important;
    border-bottom: 1px solid #f5f5f5 !important;
    padding-left: 0;
    list-style: none;

    @include respondmax(md) {
        width: 100% !important;
    }

    .active {
        background-color: #ffc61a !important;
        border: none;
    }

    .nav-link {
        width: 80px !important;
        padding: 0 !important;
       
        
    }

    &__link {
        padding-right: 0;
        padding-left: 0;
        width: 80px !important;
        border: none;
        background-color: transparent;
        outline: none;
        border-radius: 5px !important;

        @include respondmax(xl) {
            width: 100% !important;
        }

        &:not(:last-of-type) {
            margin-right: 10px;
        }

        &:focus {
            outline: 0;
        }

        &:hover {
            background-color: #ffc61a;
            transition: all .5s;
            outline: none;
        }
    }

    &__div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    height: 70px;
        

        &--img {
            margin-left: auto;
            margin-right: auto;
            margin-top: 5px;
            width: 40px;
        }


        &--span {
            font-size: 12px;
            letter-spacing: -1px;
            text-align: center;
            text-transform: uppercase;
            font-family: 'Fira Sans Condensed', sans-serif;
            color: #1f1f1f;
            font-weight: bold;
        }
    }
}


.line {
    padding-bottom: 30px;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 30px;
    width: 360px;

    @include respondmax(md) {
        width: 100% !important;
    }
}



#pills-tabContent {
    height: 110px !important;
}

.info {
    display: flex;
    justify-content: space-around;
    color: #00CED1;
    font-weight: bold;
    width: 360px;
    height: 20px;

    @include respondmax(md) {
        width: 100% !important;
    }

    &__p {
        padding-top: 10px;
        font-size: 15px;
        width: 360px;
        @include respondmax(md) {
            width: 100% !important;
        }
    }

    span {
        font-size: 16px;
        font-weight: bold;
    }
}


