.delivery {
  margin: 30px 0;
  width: 100% !important;
  display: none;

  @include respondmax(sm) {
    width: 100% !important;
  }

  &__time-1 {
    display: block;
  }
  &__time-2 {
    display: none;
  }
  &__time-3 {
    display: none;
  }
}

.day {
  margin: 10px 0 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__label {

    text-align: center;
    cursor: pointer;
    background-color: $color-secondary;
    color: black;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    height: 80px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    font-weight: bold;

    &--1 {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    &--2 {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }


}

&__input[type="radio"] {
    visibility: hidden;
    height: 0;
    width: 0;
    display: none;

    &:checked+label {
        background-color: $color-primary;
        color: #ffffff;
    }
}

  &__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 32%;
    border-radius: 10px !important;
    padding-left: 0;

    .active {
      background-color: $color-primary !important;
      color: #ffffff !important;
    }
  }

  &__link {
    width: 100%;
    height: 80px;
    background-color: $color-secondary!important;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    padding: 10px !important;
    color: #000000;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

    &:hover {
      color: #ffffff !important;
      background-color: $color-primary !important;
      transition: all .3s;
      text-decoration: none;
    }


    &:focus {
      background-color: $color-primary !important;
      color: #ffffff;
    }

    &--span {
      font-size: 15px !important;
    }
  }
}


