.add-image {
    border-color: #cccccc !important;
    outline: none;
    background-color: #f5f5f5;
    border-radius: 10px;

    &::placeholder {
        color: #818490 !important;
    }
}



#filepond--drop-label-vll8v78cr {
    color: #818490 !important;
}

.filepond {
    &--root {
        width: 100%;
        background-color: #f5f5f5 !important;
        min-height: 80px;
        margin: 20px 0;

        @include respondmax(lg) {
            width: 100% !important;
        }
    }

    &--item {
        width: 100px;
        height: 100px;
    }

    &--drop-label {
        min-height: 80px !important;

        label {
            font-size: 15px;
        }
    }
}

