
.form {
  &__control {
   
    width: 100% !important;
    height: 50px !important;
    border-radius: 0;

  
    @include respondmax(xl) {
        width: 100% !important;
    }
  
    &:focus {
      border-color: #cccccc !important;
      outline: none;
      background-color: #cccccc;
    }
  
    &::placeholder {
      color: #818490 !important;
  
    }
  }
  &__group {
    margin-bottom: 2rem;
  }

  &__label {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    color: #555a64;
}
}



  .scroll {
  overflow-y: scroll;
max-height: 90vh;
  }

  .map {
    max-height: 90vh;
  }

  .example {
   
    padding-top: 3rem;
  }