
.form {
  &__control {
    background-color: #f5f5f5;
    width: 100% !important;
    height: 50px !important;
    border-radius: 10px; color: #555a64;
    font-size: 16px;

  
    @include respondmax(xl) {
        width: 100% !important;
    }
  
   
  
    &::placeholder {
      color: #818490 !important;
  
    }
  }
  &__group {
    margin-bottom: 1rem;
  }

  &__label {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    color: #555a64;
}
}



.error {
  color: red;
  margin-left: 5px;
}
 
label.error {
  display: inline;
}
.inputErrorBorder {
  border-color: red;
}
  
  #first_form{
    @include respondmax(sm) {
     border: 1px solid #f5f5f5;
     border-radius: 10px;
     transform: translateY(-20px);
     background-color: #ffffff;
  }
  }