.editor {
    padding: 30px 20px;
}



  .tabcontainer {
    width:100%;
}
.tablist {
 
    margin-bottom: 20px !important;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    &__tab {
        float: left;
        margin: 0;
        margin-top: 10px;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        text-align: left;
        box-sizing: border-box;
        flex-wrap: nowrap;
        padding-bottom: 10px;
        top: 2px;
       
    }
    .active {
        color: $color-primary;
        border-bottom: 2px solid $color-primary;
    
    }
}





.swiper2 .swiper-slide {
  width: 100%;
    height:auto;
}
.tabpanels {
&__drawer {
    display: none;
}
&__panel {
    width: 98%;
}
}


@media screen and (max-width: 480px) {
    div.tablist {
        display: none;
    }

    .tabpanels__drawer {

        color: #fff;
        border-top: 1px solid #333;
        margin: 0;
        padding: 5px 20px;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .d_active {
        background-color: #666;
        color: #fff;
    }
}