.times {

    @include respondmax(sm) {
        display: flex !important;
        justify-content: space-between !important;
    }

    &__label {

        text-align: center;
        cursor: pointer;
        background-color: #cccccc;
        color: white;
      padding: 5px 9px !important;
        border-radius: 3px;
        font-size: 16px;

    }

    &__input[type="radio"] {
        visibility: hidden;
        height: 0;
        width: 0;
        display: none;
    
        &:checked+label {
            background-color: #00CED1;
        }
    }
}






.disable-label {
    background-color: #ababab;
}



.tab {
    &__pane__list {
  
       padding-left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            list-style: none;
        
     }
}