.urgent {
    &__list {
        width: 100%;

        &--item {
            width: 50%;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            color: #000000;
           .all-urgent{
               background-color: $color-secondary;
           }

            .active-urgent {
                background-color: $color-primary !important;
                color: #ffffff !important;
            }

        

            .non-urgent-link {
                color: #000000;
    
                width: 100%;
                display: block;
                padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
                &:hover {
                    text-decoration: none;
                    cursor: pointer;
            
                    transition: all .3s;
                }
            }
    
            .urgent-link {
                width: 100%;
                color: #000000;
                display: block;
                padding: 10px;
                background-color: $color-secondary;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
    
                &:hover {
                    text-decoration: none;
                    cursor: pointer;
                    transition: all .3s;
                }
            }
        
        }

      

    }
}


#pills-tabContent3 {
    height: 50px;

    div {
        font-size: 13px;

    }
}