
<!-- OUR FOOTER -->
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6q83jcEbxloW8tYOXLgagBGJ1xrDowHc&libraries=places&language=az-AZ">
</script>
<!-- FILEPOND -->

<script src="assets/js/filepond-plugin-file-validate-type.js"></script>
<script src="assets/js/filepond-plugin-image-preview.js"></script>
<script src="assets/js/filepond-plugin-image-resize.js"></script>
<script src="assets/js/filepond-plugin-image-transform.js"></script>
<script src="assets/js/filepond-plugin-image-crop.js"></script>
<script src="assets/js/filepond.js"></script>

<!-- <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.min.js"></script> -->
<script src="assets/js/jquery-ui.min.js"></script>



<!--  LIGHTGALLERY-->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/js/lightgallery.min.js"></script> -->
<script src="assets/js/lightgallery.min.js"></script>



<!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script> -->
<script src="assets/js/jquery.mousewheel.min.js"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/lg-thumbnail/1.1.0/lg-thumbnail.min.js"></script> -->
<script src="assets/js/lg-thumbnail.min.js"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/lg-fullscreen/1.1.0/lg-fullscreen.min.js"></script> -->
<script src="assets/js/lg-fullscreen.min.js"></script>


<script>
// Register the plugin
FilePond.registerPlugin(FilePondPluginFileValidateType);

// ... FilePond initialisation code here
</script>

<script src="js/datautils.js"></script>
<script src="js/datastore.js"></script>
<script src="js/script.js"></script>
<script src="js/filepond.js"></script>
<script src="js/lightGallery.js"></script>
<script src="js/map-my-messages.js"></script>
<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<!-- <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script> -->
</body>

</html>