<!-- OUR FOOTER -->
<!-- MAP -->
<script 
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6q83jcEbxloW8tYOXLgagBGJ1xrDowHc&libraries=places&language=az-AZ">
</script>

<!--  LIGHTGALLERY-->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/js/lightgallery.min.js"></script> -->
<script src="assets/js/lightgallery.min.js"></script>



<!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
<!-- <script src="assets/js/jquery.mousewheel.min.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/lg-thumbnail/1.1.0/lg-thumbnail.min.js"></script>
<!-- <script src="assets/js/lg-thumbnail.min.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/lg-fullscreen/1.1.0/lg-fullscreen.min.js"></script>
<!-- <script src="assets/js/lg-fullscreen.min.js"></script> -->

<script src="js/lightGallery.js"></script>

<script src="js/map-order-card.js"></script>
</body>

</html>