<footer class="  pb-md-4 footer ">
    <div class="container">
      <div class="row">
        <div class=" col-sm-12  col-md-4 col-lg-4 mb-4 mb-md-0 footer__1">
            <a href="index.html"><img src="img/logo.png" alt="Logo"></a>
          <ul  class="nav flex-row flex-md-column">
            <!-- <li  class="nav-item mb-2 mr-3 mr-md-0">
                <a href="index.html"><img src="img/logo.png" alt="Logo"></a>
            </li> -->
            <li  class="nav-item my-2 mr-3 mr-md-0">Forward Together</li>
            <li  class="nav-item my-2 mr-3 mr-md-0"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, blanditiis.</li>
            <li  class="nav-item my-2 mr-3 mr-md-0">Follow us and keep updated!</li>
           
          
           
          </ul>
          <ul class="list-unstyled my-2 d-flex mb-0">
                   
              <li class="mr-3">
                <a href="#" class="hover-fade-out  footer__social-link">
                  <i class="fab fa-twitter text-white"></i>
                </a>
              </li>
            
              <li class="mx-3">
                <a href="#" class="hover-fade-out footer__social-link">
                  <i class="fab fa-facebook-f text-white"></i>
                </a>
              </li>
              <li class="mx-3">
                <a href="#" class="hover-fade-out footer__social-link">
                  <i class="fab fa-instagram text-white"></i>
                </a>
              </li>
            </ul>
        </div>
        <div class=" col-sm-12   col-md-3 col-lg-3 footer__pages text-dark footer__2">
          <h5>Xidmətlər</h5>
          <ul class="nav flex-row flex-md-column text-dark footer__pages__list">
            <li class="nav-item mr-3 mr-md-0">
              <a href="company-about-1.html" class="nav-link fade-page px-0 py-2 text-dark">Company</a>
            </li>
            <li class="nav-item mr-3 mr-md-0">
              <a href="blog-listing-1.html" class="nav-link fade-page px-0 py-2 text-dark">Blog</a>
            </li>
            <li class="nav-item mr-3 mr-md-0">
              <a href="help-center-home.html" class="nav-link fade-page px-0 py-2 text-dark">Help Center</a>
            </li>
            <li class="nav-item mr-3 mr-md-0">
              <a href="careers-1.html" class="nav-link fade-page px-0 py-2 text-dark">Careers</a>
            </li>
            <li class="nav-item mr-3 mr-md-0">
              <a href="case-studies.html" class="nav-link fade-page px-0 py-2 text-dark">Case Studies</a>
            </li>
            <li class="nav-item mr-3 mr-md-0">
              <a href="pricing-plans.html" class="nav-link fade-page px-0 py-2 text-dark">Pricing</a>
            </li>
          </ul>
        </div>
        <div class=" col-sm-12   col-md-2 col-lg-3  text-dark footer__3">
            
            <ul class="nav flex-row flex-md-column footer__3__list">
              <li class="nav-item mr-3 mr-md-0">
                <a href="landing-1.html" class="nav-link fade-page px-0 py-2 text-dark">Landing 1</a>
              </li>
              <li class="nav-item mr-3 mr-md-0">
                <a href="landing-2.html" class="nav-link fade-page px-0 py-2 text-dark">Landing 2</a>
              </li>
              <li class="nav-item mr-3 mr-md-0">
                <a href="landing-3.html" class="nav-link fade-page px-0 py-2 text-dark">Landing 3</a>
              </li>
              <li class="nav-item mr-3 mr-md-0">
                <a href="landing-4.html" class="nav-link fade-page px-0 py-2 text-dark">Landing 4</a>
              </li>
              <li class="nav-item mr-3 mr-md-0">
                <a href="landing-5.html" class="nav-link fade-page px-0 py-2 text-dark">Landing 5</a>
              </li>
              <li class="nav-item mr-3 mr-md-0">
                <a href="landing-6.html" class="nav-link fade-page px-0 py-2 text-dark">Landing 6</a>
              </li>
            </ul>
        </div>
        <div class=" col-sm-12   col-md-3 mt-2 col-lg-2  mt-md-5 mt-lg-0  footer__4">
            <h5>For Customer App</h5>
            <ul class="nav flex-row justify-content-between  flex-md-column align-items-start justify-content-md-end">
              <li class="nav-item  mr-md-0">
                <a href="company-about-1.html" class="nav-link fade-page px-0 py-2"><img src="img/appstore.png" alt="appstore"></a>
              </li>
              <li class="nav-item mr-2 mr-md-0">
                <a href="blog-listing-1.html" class="nav-link fade-page px-0 py-2"><img src="img/googleplay.png" alt="googleplay"></a>
              </li>
            
            </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
        <div class="col-12">
          <div class=" text-center d-flex align-items-center justify-content-center text-small">
            <div class="text-dark ">&copy; 2019 Page protected by reCAPTCHA and subject to Google's <a href="https://www.google.com/policies/privacy/" target="_blank">Privacy Policy</a> and <a href="https://policies.google.com/terms" target="_blank">Terms of Service</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>