
<!-- INDEX FOOTER -->

<!-- FILEPOND -->

<script src="assets/js/filepond-plugin-file-validate-type.js"></script>
<script src="assets/js/filepond-plugin-image-preview.js"></script>
<script src="assets/js/filepond-plugin-image-resize.js"></script>
<script src="assets/js/filepond-plugin-image-transform.js"></script>
<script src="assets/js/filepond-plugin-image-crop.js"></script>
<script src="assets/js/filepond.js"></script>

<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.min.js"></script>
<!-- <script src="assets/js/jquery-ui.min.js"></script> -->


<!--  Owl carousel -->
<script src="libs/owl.carousel/dist/owl.carousel.min.js"></script>

<!-- MOMENT JS -->
<script src="libs/moment/moment.js"></script>
<script src="libs/moment/locale/az.js"></script>

<!-- PARSLEY -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.1/parsley.js"></script> -->
<script src="assets/js/parsley.js"></script>


<!-- intlTelInput  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/intlTelInput.min.js"></script>
<!-- <script src="assets/js/intlTelInput.min.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/intlTelInput-jquery.min.js"></script>
<!-- <script src="../assets/js/intlTelInput-jquery.min.js"></script> -->



<!-- JQUERY MASK -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script> -->
<script src="assets/js/jquery.mask.js"></script>


<!--  DATEPICKER LANGUAGE  WHICH IS LAST -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/i18n/jquery.ui.datepicker-en-AU.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/i18n/jquery.ui.datepicker-ru.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/i18n/jquery.ui.datepicker-az.min.js"></script> -->

<script src="assets/js/datepicker-en-AU.min.js"></script>
<script src="assets/js/datepicker-ru.min.js"></script>
<script src="assets/js/datepicker-az.min.js"></script>

<!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script> -->
<script src="assets/js/jquery.mousewheel.min.js"></script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6q83jcEbxloW8tYOXLgagBGJ1xrDowHc&libraries=places&language=az-AZ">
</script>

<script>
// Register the plugin
FilePond.registerPlugin(FilePondPluginFileValidateType);

// ... FilePond initialisation code here
</script>
<script src="js/map-index.js"></script>
<script src="js/datepicker.js"></script>
<script src="js/delivery-date.js"></script>
<script src="js/filepond.js"></script>
<script src="js/insurance.js"></script>
<script src="js/intlTelInput.js"></script>
<script src="js/moment.js"></script>
<script src="js/parsley-index.js"></script>
<script src="js/payment-methods.js"></script>
<script src="js/scroll.js"></script>
<script src="js/search-carousel.js"></script>
<script src="js/spinner-icon.js"></script>
<script src="js/swipe.js"></script>
<script src="js/times-carousel.js"></script>
<script src="js/total.js"></script>


</body>

</html>