<!doctype html>
<html class="no-js" lang="">

<head>

  <meta charset="utf-8">
  <title>Jumpstart SaaS App & Software Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link href="assets/css/theme.min.css" rel="stylesheet" type="text/css" media="all" />
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700&amp;display=swap" rel="stylesheet">




  <!-- 
    <link rel="manifest" href="site.webmanifest"> -->
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!-- FONT -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="libs/normalize.css/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
  <!-- <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.min.css"> -->
  <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">



  <!-- Owl Carousel -->
  <link rel="stylesheet" href="libs/owl.carousel/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="libs/owl.carousel/dist/assets/owl.theme.default.min.css">

  <!-- SWIPER  -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.3.1/css/swiper.min.css">

  <!-- intlTelInput -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/css/intlTelInput.css">

  <link rel="stylesheet" href="css/main/main.css">
</head>

<body class="scrollbar scroll-style">



  <header class="header">
    <div class="container header__container">
      <div class="navbar-container">
        <nav class="navbar header__navbar navbar-expand-lg navbar-light">
          <div class="container">
            <a class="navbar-brand header__logo navbar-brand-dynamic-color fade-page" href="index-2.html">
              <img alt="Logo" src="img/logo.png" class=" header__logo--img">
            </a>

            <div class="collapse navbar-collapse order-2 order-lg-1" id="myOrderTab-2">
              <ul class="navbar-nav header__navbar-nav my-3 my-lg-0 d-md-none" id="myOrderTab-2" role="tablist">
                <li class="nav-item">
                  <a aria-expanded="false" aria-haspopup="true" class="nav-link nav-item" href="#my-order-1"
                    role="button">Sifarişlərim
                  </a>
                </li>
                <li class="nav-item">
                  <a aria-expanded="false" aria-haspopup="true" class="nav-link nav-item" href="#payment-method-1"
                    role="button">Ödəniş növləri
                  </a>
                </li>
                <li class="nav-item">
                  <a aria-expanded="false" aria-haspopup="true" class="nav-link nav-item" href="#my-address-1"
                    role="button">My Address
                  </a>
                </li>
                <li class="nav-item">
                  <a aria-expanded="false" aria-haspopup="true" class="nav-link nav-item" href="#my-profile-1"
                    role="button">Profilim
                  </a>
                </li>
              </ul>
            </div>

            <div class="collapse navbar-collapse order-3 order-lg-1 justify-content-lg-start" id="navigation-menu">
              <ul class="navbar-nav header__navbar-nav my-3 my-lg-0">
                <li class="nav-item">
                  <a aria-expanded="false" aria-haspopup="true" class="nav-link nav-item color-purple"
                    href="landing-6.html" role="button">Be Carrier
                  </a>
                </li>
                <li class="nav-item">

                    <div class="dropdown">
                        <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle nav-link nav-item arrow-bottom color-purple" data-toggle="dropdown-grid" href="#" role="button">For
                            Costumer</a>
                        <div class="row dropdown-menu for-costumer">
                          <div class="col-12" data-dropdown-content>
                            <div class="dropdown-grid-menu for-costumer__dropdown-grid-menu ">
                              <div class="container">
                                <ul class="row  for-costumer--row">
                                    <li class="col-sm-12 col-lg-4 for-costumer__list">
                                      <span class="for-costumer__list--span">Transport & Logistics</span>
                                      <ul class="for-costumer__list--ul">
                                        <li class="for-costumer-li">
                                          <a href="#" class="for-costumer-li--link"> <i class="fab fa-adn"></i>
                                            <h6>goride</h6>
                                          </a>
                                        </li>
                                        <li class="for-costumer-li">
                                          <a href="#" class="for-costumer-li--link"> <i class="fab fa-adn"></i>
                                            <h6>goride</h6>
                                          </a>
                                        </li>
                                        <li class="for-costumer-li">
                                          <a href="#" class="for-costumer-li--link"> <i class="fab fa-adn"></i>
                                            <h6>goride</h6>
                                          </a>
                                        </li>
                                        <li class="for-costumer-li">
                                          <a href="#" class="for-costumer-li--link"> <i class="fab fa-adn"></i>
                                            <h6>goride</h6>
                                          </a>
                                        </li>
                                      </ul>
                                    </li>
                                    <li class="col-sm-12 col-lg-4 for-costumer__list">
                                      <span class="for-costumer__list--span">Transport & Logistics</span>
                                      <ul class="for-costumer__list--ul">
                                        <li class="for-costumer-li">
                                          <a href="#" class="for-costumer-li--link"> <i class="fab fa-adn"></i>
                                            <h6>goride</h6>
                                          </a>
                                        </li>
                                        <li class="for-costumer-li">
                                          <a href="#" class="for-costumer-li--link"> <i class="fab fa-adn"></i>
                                            <h6>goride</h6>
                                          </a>
                                        </li>
                                        <li class="for-costumer-li">
                                          <a href="#" class="for-costumer-li--link"> <i class="fab fa-adn"></i>
                                            <h6>goride</h6>
                                          </a>
                                        </li>
                                        <li class="for-costumer-li">
                                          <a href="#" class="for-costumer-li--link"> <i class="fab fa-adn"></i>
                                            <h6>goride</h6>
                                          </a>
                                        </li>
                                      </ul>
                                    </li>
                                    <li class="col-sm-12 col-lg-4 for-costumer__list">
                                      <span class="for-costumer__list--span">Transport & Logistics</span>
                                      <ul class="for-costumer__list--ul">
                                        <li class="for-costumer-li">
                                          <a href="#" class="for-costumer-li--link"> <i class="fab fa-adn"></i>
                                            <h6>goride</h6>
                                          </a>
                                        </li>
                                        <li class="for-costumer-li">
                                          <a href="#" class="for-costumer-li--link"> <i class="fab fa-adn"></i>
                                            <h6>goride</h6>
                                          </a>
                                        </li>
                                        <li class="for-costumer-li">
                                          <a href="#" class="for-costumer-li--link"> <i class="fab fa-adn"></i>
                                            <h6>goride</h6>
                                          </a>
                                        </li>
                                        <li class="for-costumer-li">
                                          <a href="#" class="for-costumer-li--link"> <i class="fab fa-adn"></i>
                                            <h6>goride</h6>
                                          </a>
                                        </li>
                                      </ul>
                                    </li>
                                  </ul></div>
                            </div>
                          </div>
                        </div>
                      </div>
                  <!-- <a aria-expanded="false" aria-haspopup="true"
                    class="nav-link nav-item color-purple for-costumer-toggle dropdown-toggle" role="button"
                    href="#for-costumer-collapse">For
                    Costumer
                  </a> -->
                </li>
                <li class="nav-item">
                  <a aria-expanded="false" aria-haspopup="true" class="nav-link nav-item" href="landing-5.html"
                    role="button">Business
                  </a>
                </li>
                <li class="nav-item">
                  <a aria-expanded="false" aria-haspopup="true" class="nav-link nav-item" href="#" role="button">Help
                  </a>
                </li>
              </ul>
            </div>


            <div class="collapse navbar-collapse header__collapse order-1 order-lg-3 justify-content-lg-end navbar-nav"
              id="navigation-menu2">

              <!--AVATAR LOGIN1 START -->

              <div class="dropdown login1 d-none">
                <a class=" dropdown-toggle login1__link" id="login1" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                 
                  <div class="avatar-container">
                      <img src="assets/img/avatars/female-1.jpg" alt="Avatar" class="avatar avatar-xs">


<!-- AVATAR BADGE  -->
                      <div class="badge badge-danger login1--badge">3</div>


                    </div>
                </a>
                <div class="dropdown-menu login1__dropdown-menu" aria-labelledby="login1">
                  <a class="dropdown-item" href="account.html">Sifarişlərim</a>
                  <a class="dropdown-item" href="#">Ödəniş növləri</a>
                  <a class="dropdown-item" href="#"> My Address</a>
                  <a class="dropdown-item" href="#"> Profilim</a>
                </div>
              </div>



              <!--AVATAR LOGIN1 END -->
              <!-- LOGIN2 START -->
              <a href="" class="nav-link nav-item  login2 ">
                <i class="far fa-user"></i>
                Log in
              </a>
              <a href="#" class="btn header__btn ml-lg-4 mr-3 mr-md-4 mr-lg-0 d-sm-block order-lg-3 btn-purple">Order
                Now</a>
            </div>

            <div class="d-flex align-items-center order-lg-2 justify-content-lg-end">

              <div class="dropdown">
                <a href="#" class=" dropdown-toggle nav-link nav-item header__language arrow-bottom" role="button"
                  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-globe"></i> En
                </a>
                <div class="dropdown-menu  header__language__menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item  header__language__menu--item" href="#">Ru</a>
                  <a class="dropdown-item header__language__menu--item" href="#">Az</a>

                </div>

              </div>

              <button aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler header__toggler"
                data-target=".navbar-collapse" data-toggle="collapse" type="button">

                <div class="avatar-container">
                <i class="fas fa-bars navbar-toggler-open icon icon-sm"></i>

                <!-- HAMBURGER  BADGE -->
                <div class="badge badge-danger header__toggler--badge">3</div>

                <i class="fas fa-times navbar-toggler-close icon icon-sm"></i>
              </div>
              </button>
            </div>
          </div>
        </nav>
    </div>
    </div>
  </header>