<!doctype html>
<html class="no-js" lang="">

<head>

  <meta charset="utf-8">
  <title>Jumpstart SaaS App & Software Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link href="assets/css/theme.min.css" rel="stylesheet" type="text/css" media="all" />
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700&amp;display=swap" rel="stylesheet">




  <!-- 
    <link rel="manifest" href="site.webmanifest"> -->
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!-- FONT -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="libs/normalize.css/normalize.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">

  <!-- <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.min.css"> -->

<!--  FILEPOND -->
<link rel="stylesheet" href="assets/css/filepond.css">
<link rel="stylesheet" href="assets/css/filepond-plugin-image-preview.css">

<!--  PARSLEY -->
  <link rel="stylesheet" href="libs/parsleyjs/src/parsley.css">


  <!-- Owl Carousel -->
  <link rel="stylesheet" href="libs/owl.carousel/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="libs/owl.carousel/dist/assets/owl.theme.default.min.css">

  <!-- SWIPER  -->
  <!-- <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.3.1/css/swiper.min.css"> -->
  <link rel="stylesheet" href="assets/css/swiper.min.css">

  <!-- intlTelInput -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/css/intlTelInput.css">
  <!-- <link rel="stylesheet" href="assets/css/intlTelInput.css"> -->

  <!-- LIGHTGALLERY -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/css/lightgallery.min.css"> -->
  <link rel="stylesheet" href="assets/css/lightgallery.min.css">


  <link rel="stylesheet" href="css/main/main.css">
</head>
<body class="scrollbar scroll-style">