<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 
    <link rel="manifest" href="site.webmanifest"> -->
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

<!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="libs/normalize.css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    <!-- <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.min.css"> -->
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">



    <!-- <link rel="stylesheet" href="../css/intlTelInput.css"> -->
    <link rel="stylesheet" href="css/main/main.css">


    <!-- <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="../libs/intl-tel-input/build/js/intlTelInput-jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->

</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <header>
                <div class="container">
                  <div class="header">
                    <a class="navbar-brand navbar-brand-dynamic-color fade-page" href="index-2.html">
                      <img alt="Logo" src="img/logo.png">
                    </a>
              
                    <ul class="header__nav">
                      <li class="header__nav__item">
                        <a aria-expanded="false" aria-haspopup="true" class="header__nav__item--link" href="#" role="button">Be
                          carrier</a>
                      </li>
                      <li class="header__nav__item">
                        <a aria-expanded="false" aria-haspopup="true" class="header__nav__item--link" href="#" role="button">For
                          Costumer</a>
                      </li>
                      <li class="header__nav__item">
                        <a aria-expanded="false" aria-haspopup="true" class="header__nav__item--link" href="#"
                          role="button">Business</a>
                      </li>
                      <li class="header__nav__item">
                        <a aria-expanded="false" aria-haspopup="true" class="header__nav__item--link" href="#" role="button">Help</a>
                      </li>
                    </ul>
                    <div class="header__language">
                      <div class="dropdown show header__language__dropdown">
                        <a class="dropdown-toggle dropdown-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">     <i class="fa fa-globe"></i>
                          En
                        </a>
              
                        <div class="dropdown-menu header__language__dropdown--menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item header__language__dropdown--menu--item" href="#">Ru</a>
                          <a class="dropdown-item header__language__dropdown--menu--item" href="#">Az</a>
                        </div>
                      </div>
                    </div>
                    <div class="header__btn-group">
                      <a href="" class="header__btn-group__login">
                        <i class="far fa-user"></i>
                        <span>Log in</span>
                      </a>
                      <a href="#" class="btn btn-primary header__btn-group__order-now">Order Now</a>
                    </div>
                    <span class="header__hamburger-menu " id="openNav">&#9776;</span>
                  </div>
                </div>
              
                <div id="mySidenav" class="sidenav">
                  <div class="sidenav__btn-group">
                    <div>  <a href="#" class="btn btn-primary navbar__order-now sidenav__order-now ">Order
                        Now</a></div>
                    
                          <a href="" class="header__btn-group__login sidenav__login">
                              <i class="far fa-user"></i>
                              <span class="sidenav__login--span">Log in</span>
                            </a>
                  </div>
                  <a href="javascript:void(0)" class="closebtn" id="closeNav">&times;</a>
                  <a aria-expanded="false" aria-haspopup="true" class="sidenav__link " href="#" role="button">Be
                    carrier</a>
                  <a aria-expanded="false" aria-haspopup="true" class="sidenav__link" href="#" role="button">For
                    Costumer</a>
                  <a aria-expanded="false" aria-haspopup="true" class="sidenav__link" href="#" role="button">Business</a>
                  <a aria-expanded="false" aria-haspopup="true" class="sidenav__link" href="#" role="button">Help</a>
                 
                  
                </div>
              </header>