.account {



    &__btn {
        @include respondmax(lg) {
            justify-content: space-between;
            margin-bottom: 2rem;
        }

        @include respondmax(sm) {
            margin-bottom: 0;
        }

        &__link {
            @include respondmax(sm) {
                width: 100% !important;
            }
        }

        &__item {
            @include respondmax(sm) {
                width: 100% !important;
            }


            .btn-primary:not(:disabled):not(.disabled).active {
                color: #fff;
                background-color: $color-primary;
                border-color: $color-primary;
                outline: none;
            }
        }
    }

    &__nav {
        flex-wrap: nowrap;
        border: none;

        @include respondmax(md) {
        
         border-bottom: none;
        }

        @include respondmax(sm) {
            width: auto;
            font-size: 13px;
        }

        &__item {
            // @include respondmax(sm) {
            //     width: 100%;
            // }
            &:not(:last-child){
                margin-right: 5px;
            }

            .active {
                color: $color-primary !important;
                background-color: none;
                border-color: none;
                border-bottom: 2px solid $color-primary;
                @include respondmax(md) {
                    border-bottom: none;
                   }
            }

        }

        &--link {
            text-align: center;

            @include respondmax(sm) {
                width: 100%;
                text-align: left;
            }

        }
    }
}


.gender-label {

    text-align: center;
    cursor: pointer;
    background-color: #ffffff;
    color: #555a64;
    width: 100%;
    padding: 10px 20px !important;
    border-radius: 3px;
    font-size: 16px;

}

.gender-input[type="radio"] {
    visibility: hidden;
    height: 0;
    width: 0;
    display: none;

    &:checked+label {
        background-color: $color-primary;
        color: #ffffff;
    }
}

.order-card {
    margin: 1rem;

    @include respondmax(sm) {
        font-size: 14px;
    }

    &__div {
        display: flex;

        @include respondmax(sm) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__btn {
        align-self: flex-end;
        outline : none;
        background-color: $color-primary;
        color: #ffffff !important;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        &:active,
        &:focus {
            outline: none;
            border: none;
            
        }
        &:hover{
            text-decoration: none;
        }

        .fa-arrow-down {
            align-self: center;
            &:hover {
                color: #ffffff !important;
            }
        }
    }

    &__cancelled {
        text-align: center;
        font-size: 13px;
        background-color: #dc3545 !important;
        width: 150px;
        padding: 2px 10px;

        @include respondmax(sm) {
            width: 100px;
        }
    }

    &__finished {
        text-align: center;
        font-size: 13px;
        background-color: #28a745 !important;
        width: 150px;
        padding: 2px 10px;

        @include respondmax(lg) {
            width: 100px;
        }
    }

    &__date {
        font-size: 12px;
    }

    &__border {
        border-bottom: 2px solid #cccccc;
        padding-bottom: 4px;
    }

    &__money-group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;

        @include respondmax(lg) {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;

        }

        @include respondmax(md) {

            margin-top: 15px;

        }
    }
}



.order2 {
    &__div {
        display: flex;
        flex-direction: column;
        margin: 0 1rem;


        &__input {
            background-color: #fff;
            padding: 10px;
            padding-left: 20px;
            width: 90%;
            margin: 1rem auto;
            border-radius: 20px;
            align-items: center;

            @include respondmax(sm) {

                width: 100%;

            }

            &--note {
                width: 100%;

                &--div {
                    border-bottom: 1px solid #cccccc;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                }

            }

            &--span {
                font-size: 13px;
                color: #818490;
            }
        }

        &__img {
            display: flex;
            justify-content: space-between;

            width: 90%;
            margin: auto;
            margin-top: 1rem;
            @include respondmax(md) {
                margin-top: 0;

            }

            @include respondmax(sm) {
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;
                width: 100%;
                justify-content: center;
                

            }

            &--div {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20% !important;
                width: 150px;
                height: 150px;
                color: #fff;

                @include respondmax(md) {

                    margin-top: 10px;
                }

                &:not(:last-child){
                   
                    @include respondmax(md) {
                        margin-right: 10px;
                    }
                    @include respondmax(sm) {
                        margin-right: 0;
                    }
                }

                @include respondmax(sm) {

                    margin-top: 10px;
                }

                img {
                    border-radius: 20%;

                }
            }
        }

        &__img-group {
            display: flex;
            align-items: center;
            justify-content: center;


            &--img {
                width: 100px;
                height: 100px;
                margin-right: 20px;

                @include respondmax(sm) {
                    width: 80px;
                    height: 80px;
                    margin-right: 10px;
                }
            }

            &--span {
                font-size: 20px;
            }
        }
    }


}

.billing {

    &__custom-control {
        @include respondmax(sm) {
            padding-left: 0 !important;
        }
    }
}
#myOrderTab-1{
    @include respondmax(sm) {
        display: none;
    }
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;

    &--input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
  }

