body {
    font-family: 'Fira Sans', sans-serif;
    overflow-x: hidden; }
  
  .form-control {
    background-color: #f5f5f5;
    width: 360px;
    height: 50px;
    border-radius: 0; }
    @media only screen and (max-width: 62.5em) {
      .form-control {
        width: 100%; } }
    .form-control:focus {
      border-color: #cccccc !important;
      outline: none;
      background-color: #f5f5f5; }
    .form-control::placeholder {
      color: #818490 !important; }
  
  .form-group {
    margin-bottom: 2rem; }
  
  .btn-2 {
    background-color: #47b475;
    border: none;
    width: 360px;
    border-radius: 0;
    height: 40px;
    margin-top: 35px; }
    @media only screen and (max-width: 62.5em) {
      .btn-2 {
        width: 100%; } }
  
  .divider-side:first-child {
    left: 10px !important; }
  
  @media only screen and (max-width: 62.5em) {
    .map {
      min-height: 80%;
      margin-top: 50px;
      margin-bottom: 50px; } }
  
  .car {
    display: flex !important;
    justify-content: space-between !important;
    flex-wrap: nowrap !important;
    width: 360px !important;
    border-bottom: 1px solid #f5f5f5 !important;
    padding-left: 0;
    list-style: none; }
    @media only screen and (max-width: 37.5em) {
      .car {
        width: 100% !important; } }
    .car .active {
      background-color: #ffc61a !important;
      border: none; }
    .car .nav-link {
      width: 80px !important;
      padding: 0 !important;
      padding-bottom: 10px !important; }
    .car__link {
      padding-right: 0;
      padding-left: 0;
      width: 80px !important;
      border: none;
      background-color: transparent;
      outline: none;
      border-radius: 5px; }
      @media only screen and (max-width: 75em) {
        .car__link {
          width: 100%; } }
      .car__link:not(:last-of-type) {
        margin-right: 10px; }
      .car__link:focus {
        outline: 0; }
      .car__link:hover {
        background-color: #ffc61a;
        transition: all .5s;
        outline: none; }
    .car__div {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .car__div--img {
        margin-left: auto;
        margin-right: auto;
        width: 40px; }
      .car__div--span {
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Fira Sans Condensed', sans-serif;
        color: #1f1f1f;
        font-weight: bold; }
  
  .line {
    padding-bottom: 30px;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 30px;
    width: 360px; }
    @media only screen and (max-width: 62.5em) {
      .line {
        width: 100%; } }
  
  #pills-tabContent {
    height: 110px !important; }
  
  .info {
    display: flex;
    justify-content: space-around;
    color: #00CED1;
    font-weight: bold;
    width: 360px;
    height: 20px; }
    @media only screen and (max-width: 62.5em) {
      .info {
        width: 100%; } }
    .info__p {
      padding-top: 10px;
      font-size: 15px;
      width: 360px; }
      @media only screen and (max-width: 62.5em) {
        .info__p {
          width: 100%; } }
  
  #error-msg {
    color: #ea4335; }
  
  #valid-msg {
    color: #34a853; }
  
  .iti {
    width: 100%; }
  
  .iti__country-list {
    width: 360px !important; }
    @media only screen and (max-width: 62.5em) {
      .iti__country-list {
        width: 90% !important; } }
  
  .textarea {
    height: 80px !important;
    resize: vertical !important; }
  
  .add-image {
    border-color: #cccccc !important;
    outline: none;
    background-color: #f5f5f5; }
    .add-image::placeholder {
      color: #818490 !important; }
  
  #filepond--drop-label-vll8v78cr {
    color: #818490 !important; }
  
  .filepond--root {
    width: 360px;
    background-color: #f5f5f5 !important; }
    @media only screen and (max-width: 62.5em) {
      .filepond--root {
        width: 100% !important; } }
  
  .filepond--item {
    width: 100px;
    height: 100px; }
  
  .input-spinner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    height: 70px !important; }
    @media only screen and (max-width: 62.5em) {
      .input-spinner {
        width: 100% !important; } }
    .input-spinner .fa-user,
    .input-spinner .fa-user-friends,
    .input-spinner .fa-users {
      margin-left: 10px;
      font-size: 30px;
      color: #ffc61a; }
  
  .number-spinner {
    max-width: 110px;
    line-height: 32px;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    border-radius: 4px;
    border: 2px solid #e2e2e2;
    overflow: hidden;
    position: relative;
    display: table; }
    .number-spinner input {
      height: 32px;
      max-height: 32px;
      line-height: 32px;
      font-size: 1em;
      padding: 0;
      margin: 0;
      border: none;
      position: relative;
      float: left;
      width: 100%;
      text-align: center; }
      .number-spinner input:focus {
        outline: none; }
    .number-spinner .ns-btn {
      position: relative;
      font-size: 0;
      white-space: nowrap;
      vertical-align: middle;
      display: table-cell;
      cursor: pointer; }
      .number-spinner .ns-btn:hover {
        color: #ffc61a;
        transition: all .2s; }
      .number-spinner .ns-btn a {
        height: 32px;
        min-height: 32px;
        width: 32px;
        padding: 0;
        max-width: 40px;
        line-height: 40px;
        border-radius: 0;
        border: none;
        text-align: center;
        position: relative;
        background: #f5f5f5;
        color: #47b475;
        display: inline-block;
        vertical-align: middle;
        text-decoration: none; }
      .number-spinner .ns-btn .icon-minus:after {
        content: "\002212";
        font-size: 30px;
        line-height: 35px;
        font-weight: bold; }
      .number-spinner .ns-btn .icon-plus:after {
        content: "\00002B";
        font-size: 30px;
        line-height: 35px;
        font-weight: bold; }
  
  .delivery {
    margin: 30px 0;
    width: 360px; }
    @media only screen and (max-width: 37.5em) {
      .delivery {
        width: 100% !important; } }
  
  .day {
    margin: 10px 0 20px;
    display: flex;
    justify-content: space-between; }
    .day__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      text-align: center; }
      .day__list .active {
        background-color: #47b475 !important;
        color: #1f1f1f; }
    .day__link {
      width: 100px;
      height: 80px;
      background-color: #ffc61a !important;
      font-size: 15px;
      color: #1f1f1f; }
      .day__link:hover {
        color: #ffffff !important;
        background-color: #47b475 !important;
        transition: all .3s; }
      .day__link:focus {
        background-color: #47b475 !important;
        color: #1f1f1f; }
  
  #pills-tabContent2 {
    height: 50px;
    margin: 10px 0 20px; }
  
  .ui-state-highlight {
    background-color: #00CED1;
    color: #ffffff !important; }
    .ui-state-highlight:hover {
      background-color: #47b475 !important; }
  
  @media only screen and (max-width: 37.5em) {
    .times {
      display: flex !important;
      justify-content: space-between !important; } }
  
  .times__label {
    text-align: center;
    cursor: pointer;
    background-color: #454545;
    color: white;
    padding: 5px;
    border-radius: 3px; }
  
  input[type="radio"] {
    visibility: hidden;
    height: 0;
    width: 0; }
  
  input[type="radio"]:checked + label {
    background-color: #00CED1; }
  
  .disable-label {
    background-color: #ababab; }
  
  .datepicker__link {
    position: relative; }
  
  .datepicker__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 80px;
    display: block;
    border: none;
    background-color: transparent;
    font-size: 15px;
    font-weight: bold;
    color: #1f1f1f;
    border-radius: 0.5rem;
    padding-left: 10px; }
    .datepicker__input:focus {
      outline: none; }
    .datepicker__input:hover {
      color: #ffffff !important;
      background-color: #47b475 !important;
      transition: all .3s; }
    .datepicker__input:hover::placeholder {
      color: #ffffff !important;
      transition: all 0.3s !important; }
    .datepicker__input::placeholder {
      padding-left: 4px;
      color: #1f1f1f !important;
      font-weight: bold; }
  
  #ui-datepicker-div {
    display: none;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    margin-top: 0.25rem;
    border-radius: 0.5rem;
    padding: 0.5rem; }
  
  table {
    border-collapse: collapse;
    border-spacing: 0; }
  
  .ui-datepicker-calendar thead th {
    padding: 0.25rem 0;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
    color: #78909C; }
  
  .ui-datepicker-calendar tbody td {
    width: 2.5rem;
    text-align: center;
    padding: 0; }
  
  .ui-datepicker-calendar tbody td a {
    display: block;
    border-radius: 0.25rem;
    line-height: 2rem;
    transition: 0.3s all;
    color: #546E7A;
    font-size: 0.875rem;
    text-decoration: none; }
  
  .ui-datepicker-calendar tbody td a:hover {
    background-color: #E0F2F1; }
  
  .ui-datepicker-calendar tbody td a.ui-state-active {
    background-color: #00CED1;
    color: white; }
  
  .ui-datepicker-header a.ui-corner-all {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    border-radius: 0.25rem;
    transition: 0.3s all; }
  
  .ui-datepicker-header a.ui-corner-all:hover {
    background-color: #ECEFF1; }
  
  .ui-datepicker-header a.ui-datepicker-prev {
    left: 0;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-size: 0.5rem;
    background-position: 50%;
    transform: rotate(180deg); }
  
  .ui-datepicker-header a.ui-datepicker-next {
    right: 0;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 50%; }
  
  .ui-datepicker-header a > span {
    display: none; }
  
  .ui-datepicker-title {
    text-align: center;
    line-height: 2rem;
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    padding-bottom: 0.25rem; }
  
  .ui-datepicker-week-col {
    color: #78909C;
    font-weight: 400;
    font-size: 0.75rem; }
  