$aznb:jaznb;

$color-primary: #7b2bfc;
$color-primary-dark: #660afc;
$color-secondary: #f5f5f5;
$color-invalid: red;
$color-valid: green;
@mixin field-outline($color) {
    border: $color solid 2px;
    border-radius: 10px;
}

@mixin message-invalid($message) {
    color: $color-invalid;
    content: $message;
}